/* Backgrounds ----------------------------------------------------------*/
.btn-primary,
.btn-primary:hover,
.flat-mega-menu .drop-down.full-width ul li a.btn,
.filter-header input[type="submit"],
.ui-widget-header,
.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover,
.flat-mega-menu .login-form input[type=submit],
.flat-mega-menu .search-bar ul input[type=submit],
.skin_base,
.promotion-box-info .btn,
.list-styles li i,
.info-gallery .price b,
.widget .input-group-addon.btn-search input,
.header-v2,
.info-head,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li a:hover,
.sort-by-container .style-view li:hover,
.sort-by-container .style-view li.active,
.selector span.custom-select:before,
.slider-selection,
.filter-widget input[type="submit"],
.tabs-detailed .services-lines li:hover,
.pagination > .active > a,
.pagination .active,
.tooltip-inner,
.owl-theme .owl-controls .owl-buttons div,
#theme-options .layout-style li.active,
.thumbs li:hover,
p.lead .line,
.info-testimonial,
.filter-header,
.filter-header input[type="button"]{
	background: #42A9D3 !important; 
	background-color: #42A9D3 !important; 
}
.opacy_bg_03,
.item-team-01 .info-team,
.header-detailed{
	background: #42A9D3;  
	background: rgba(0, 136, 204, 0.5);
}

/* Colors ----------------------------------------------------------*/
.item-service-line i,
.titles h2 span,
.info-boxed h3 span, 
.title-footer h2 span,
.flat-mega-menu > ul > .title > a > span,
.flat-mega-menu > ul > .title i,
.icon-big-nav i,
.ui-datepicker th,
.head-feature,
.flat-mega-menu > ul > li:hover > a,
.footer-v1 ul li i,
.footer-v2 ul li i,
.footer-v3 ul li i,
.footer-v4 ul li i,
.flat-mega-menu > ul > li:hover > a,
.flat-mega-menu .login-form:hover,
.flat-mega-menu .search-bar:hover,
.item-team h4 span,
.item-team-01 .social-team li a:hover,
.large-number,
.info-gallery h3 span,
.post-format-icon > i,
.post-item .post-title a:hover,
.post-meta a:hover,
.post-quote-author a,
.single-blog h4 i,
.single-blog h4 a,
.footer-down ul li a:hover,
.nav-tabs li i,
.container-by-widget-filter h4,
.title-results a,
blockquote > a,
.tweet_time a,
.tweet_text a,
.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover,
.crumbs li a,
.page-error h1 i,
.sitemap li a:hover,
.pagination > li > a, .pagination > li > span,
address i,
address a{
	color: #000 !important;
}

/* Borders ----------------------------------------------------------*/
.pagination > .active > a,
.pagination > .active:hover > a,
.filter-header,
.flat-mega-menu h2 span,
.ui-datepicker,
.crumbs ul,
.portfolioFilter .current, .portfolioFilter a:hover,
.post-format-icon > i,
.section-title-03 h1,
.title-widget{
	border-color: #42A9D3 !important;
}
.crumbs:before{
	border-bottom: 20px solid #42A9D3;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #42A9D3;
}
.flat-mega-menu .drop-down,
.flat-mega-menu .social-bar ul {
	border-bottom-color: #42A9D3;
}
.nav-tabs li.active:after {
	border: 16px solid #42A9D3;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	content: "";
	left: 50%;
	margin-left: -16px;
	position: absolute;
	z-index: 101;
}
.title-widget:after {
  border-top: 15px solid  #42A9D3;
}

.price span {
	color: red;
}